.button {
    min-width: 40px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;

    border: none;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 11px 11px;
}

.icon_area_left {
    padding-right: 10px;
}

.icon_area_right {
    padding-left: 10px;
}

.text_default {
    white-space: nowrap;
}

.button_default:hover {
    cursor: pointer;
    background-color: var(--ayanami-dark);
}

.button_default:focus {
    background-color: var(--ayanami-default);
    border: 3px solid var(--ayanami-20);
    outline: none;
}

.button_default:disabled {
    background-color: var(--ayanami-20);
}

.button_open {
    background-color: var(--shinji);
    color: var(--gendo-default);
    border: 1px solid var(--kaoru-60);
    margin-left: 2.2vw;
}

.button_save {
    background-color: var(--shinji);
    color: var(--gendo-default);
    border: 1px solid var(--kaoru-60);
    margin-left: 50vw;
}


.button_open:hover {
    cursor: pointer;
    border-color: var(--kaoru-default);
    color: var(--gendo-default);
}

.button_save:hover {
    cursor: pointer;
    border-color: var(--kaoru-default);
    color: var(--gendo-default);
}

.button_watch {
    background-color: var(--ayanami-default);
    color: var(--shinji);
    margin-left: 2.2vw;
}

.button_watch:hover {
    cursor: pointer;
    background-color: var(--ayanami-dark);
}

.button_add {
    width: 36px;
    height: 36px;
    background-color: var(--shinji);
    border: 1px solid var(--kaoru-60);
    color: var(--gendo-default);
    margin-left: 35px;
}

.button_add:hover {
    background-color: var(--kaoru-20);
    border: none;
}

.icon_button {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-left: 35px;
}

.button_undo {
    background: center no-repeat url("./ButtonIcons/UndoIcon.svg");
    margin-left: 50px;
}

.button_redo {
    background: no-repeat url("./ButtonIcons/RedoIcon.svg");
    margin-left: 20px;
}

.button_figure {
    background: no-repeat url("./ButtonIcons/FigureIcon.svg");
}

.button_image {
    background: no-repeat url("./ButtonIcons/ImageIcon.svg");
}

.button_text_area {
    background: no-repeat url("./ButtonIcons/TextAreaIcon.svg");
}

.button_line {
    background: no-repeat url("./ButtonIcons/LineIcon.svg");
}

.button_select_area {
    background: no-repeat url("./ButtonIcons/SelectAreaIcon.svg");
}

.button_select_arrow {
    background: no-repeat url("ButtonIcons/SelectArrowIcon.svg");
}