.button {
    min-width: 40px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--ayanami-default);
    color: var(--shinji);

    border: none;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 11px 11px;
}

.text {
    white-space: nowrap;
}

.button_default:hover {
    cursor: pointer;
    background-color: var(--ayanami-dark);
}

.button_default:focus {
    background-color: var(--ayanami-default);
    border: 3px solid var(--ayanami-20);
}

.button_default:disabled {
    background-color: var(--ayanami-20);
}