.button {
    min-width: 40px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;

    border: none;
    border-radius: 9px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 11px 0 11px;
}
.button:active {
    background-color: var(--kaoru-60);
}

.iconAreaLeft {
    padding-right: 10px;
}

.iconAreaRight {
    padding-left: 10px;
}

.textDefault {
    white-space: nowrap;
}

.buttonDefault {
    background-color: var(--ayanami-default);
    color: var(--shinji);
    cursor: pointer;
}

.buttonDefault:hover {
    background-color: var(--ayanami-dark);
}

.buttonDefault:focus {
    background-color: var(--ayanami-default);
    border: 3px solid var(--ayanami-20);
    outline: none;
}

.buttonDefault:disabled {
    background-color: var(--ayanami-20);
}

.buttonOpen {
    background-color: var(--shinji);
    color: var(--gendo-default);
    border: 1px solid var(--kaoru-60);
    margin-left: 2.2vw;
}

.buttonGoToEditor {
    display: none;
}

.buttonSave {
    background-color: var(--shinji);
    color: var(--gendo-default);
    border: 1px solid var(--kaoru-60);
}

.buttonOpen:hover {
    cursor: pointer;
    border-color: var(--kaoru-default);
    color: var(--gendo-default);
}

.buttonGoToEditor:hover {
    cursor: pointer;
    border-color: var(--kaoru-default);
    color: var(--gendo-default);
}

.buttonSave:hover {
    cursor: pointer;
    border-color: var(--kaoru-default);
    color: var(--gendo-default);
}

.buttonWatch {
    background-color: var(--ayanami-default);
    color: var(--shinji);
    margin: 0 2.2vw 0 2.2vw;
}

.buttonWatch:hover {
    cursor: pointer;
    background-color: var(--ayanami-dark);
}

.buttonAdd {
    width: 36px;
    height: 36px;
    background-color: var(--shinji);
    border: 1px solid var(--kaoru-60);
    color: var(--gendo-default);
    margin-left: 35px;
}

.buttonAdd:hover {
    background-color: var(--kaoru-20);
    border: none;
}

.iconButton {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-left: 35px;
}

.iconButton:hover {
    background-color: var(--kaoru-20);
    border-radius: 8px;
}
.iconButton:active {
    background-color: var(--kaoru-60);
}

.buttonUndo {
    background: center no-repeat url("ButtonIcons/UndoIcon.svg");
    margin-left: 50px;
}

.buttonRedo {
    background: no-repeat url("ButtonIcons/RedoIcon.svg");
    margin-left: 20px;
}

.buttonFigure {
    background: no-repeat url("ButtonIcons/FigureIcon.svg");
}

.buttonImage {
    background: no-repeat url("ButtonIcons/ImageIcon.svg");
}

.buttonTextArea {
    background: no-repeat url("ButtonIcons/TextAreaIcon.svg");
}

.buttonLine {
    background: no-repeat url("ButtonIcons/LineIcon.svg");
}

.buttonSelectArea {
    background: no-repeat url("ButtonIcons/SelectAreaIcon.svg");
}

.buttonSelectArrow {
    background: no-repeat url("ButtonIcons/SelectArrowIcon.svg");
}

.buttonPalette {
    background: no-repeat url("ButtonIcons/PaletteIcon.svg");
}

.buttonCreateSlide {
    width: 36px;
    height: 36px;
    background: no-repeat url("ButtonIcons/CreateSlideIcon.svg");
}

.buttonCreateSlide:hover {
    width: 36px;
    height: 36px;
    background: no-repeat url("ButtonIcons/CreateSlideHoverIcon.svg");
}

.buttonFill {
    background: no-repeat url("ButtonIcons/FillIcon.svg");
}

.buttonStroke {
    background: no-repeat url("ButtonIcons/StrokeIcon.svg");
}

.buttonBold {
    background: no-repeat url("ButtonIcons/BoldIcon.svg");
}

.buttonCursive {
    background: no-repeat url("ButtonIcons/CursiveIcon.svg");
}

.buttonUnderline {
    background: no-repeat url("ButtonIcons/UnderlinedIcon.svg");
}
.fontArea {
    background-color: white;
    color: var(--gendo-default);
    border: 1px solid var(--gendo-default);
    margin-left: 35px;
    width: 200px;
    height: 30px;
    justify-content: space-between;
}
.fontArea:hover {
    background-color: var(--kaoru-20);
}
.fontArea:active {
    background-color: var(--kaoru-60);
}