.workspace {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.slideArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    filter: drop-shadow(4px 4px 4px var(--grey-shark));
    background-color: var(--ayanami-20);
}

.slideElement {
    list-style-type: none;
    pointer-events: none;
}