.blackout {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.slideNumberText {
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: gray;
}

.svgArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
}