.topPanel {
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--kaoru-default);
}

.logoArea {
    margin-left: 30px;
    cursor: pointer;
}

.name {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: var(--gendo-default);
    border: 2px solid var(--ayanami-default);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.renameContainer {
    overflow: hidden;
    margin-left: 1.5vw;
}

.dropDownArea {
    display: flex;
    flex-direction: column;
}