.topPanel {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--kaoru-default);
}

.logoArea {
    margin-left: 2.2vw;
    cursor: pointer;
}

.name {
    width: 228px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    color: var(--gendo-default);
    border: 2px solid var(--ayanami-default);
    height: 40px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

.renameContainer {
    margin-left: 1.5vw;
    width: 252px;
}

.dropDownArea {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}