.top-panel {
    display: flex;
    width: 100%;
    min-width: 1366px;
    height: 78px;
}

.inputPresentationName {
    width: 217px;
    color: gray;
    border-radius: 5px;
}
.openBtn {
    width: 40px;
    border-radius: 9px;
}

.watchBtn {
    color: aqua;
}