.sidebar {
    height: 86.7vh;
    width: 17vw;
    border-right: 1px solid var(--kaoru-default);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--ayanami-default);
    border-radius: 2px;
}

.sidebarRow {
    display: flex;
    flex-direction: row;
    position: relative;
}

.slideIndex {
    margin-left: 15px;
    margin-top: 26px;
    font-size: 13px;
    color: var(--gendo-default);
    position: absolute;
}

.slidePreview {
    width: 180px;
    height: 111px;
    border: 1px solid var(--grey-shark);
    background-color: var(--shinji);
    margin-top: 25px;
    margin-left: 40px;
}

.slidePreview.slidePreviewSelected,
.slidePreview.slidePreviewSelected:hover {
    border: 3px solid var(--ayanami-default);
}

.slidePreview:hover {
    border: 1px solid var(--kaoru-default);
}

.slideElement {
    list-style-type: none;
    pointer-events: none;
}