.workspace {
    height: 86.9vh;
    display: flex;
    justify-content: space-between;
}

.slideArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--ayanami-20);
}

.slideElement {
    list-style-type: none;
    pointer-events: none;
}