.dropDown {
    display: none;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    z-index: 1;
}
.dropDownShow {
    display: block;
}

/* все типы */
.saveAction {
    top: 6%;
    left: 80%;
    max-width: 150px;
}

.palette {
    top: 13%;
    left: 32%;
    max-width: 197px;
    max-height: 500px;
}
.paletteContent {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 10px;
}
.paletteColor {
    margin: 5px;
    border: 2px solid var(--kaoru-20);
    width: 25px;
    height: 25px;
    border-radius: 15px;
}


.paletteColor:hover {
    cursor: pointer;
    border-color: var(--kaoru-80)
}
.paletteColor:active {
    border-color: black
}



.imageSelector {
    top: 13%;
    left: 24%;
    max-width: 300px;
}
.imageSelector p {
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
}


/* контент внутри */
.dropDownContent {
    background-color: var(--shinji);
    overflow: auto;
    z-index: 1;
}


.imageSelector {
    top: 13%;
    left: 24%;
    max-width: 300px;
    height: auto;
}
.imageSelector p {
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
}


.stocks {
    list-style-position: inside;
    list-style-type: circle;
}
.stocks li {
    padding: 7px 10px 7px 10px;
    color: var(--gendo-default);
}


/* контент внутри */
.dropDownContent {
    background-color: var(--shinji);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--kaoru-60);
    border-radius: 10px;
}
.separator {
    width: 100%;
    height: 1px;
    background-color: var(--kaoru-60);
}
.dropDownContent > a, p {
    padding: 5px;
    display: flex;
    color: var(--gendo-default);
    height: 25px;
    text-decoration: none;
    justify-content: center;
}
.dropDownContent a {
    cursor: pointer;
}
.dropDownContent > a:hover {
    background-color: var(--ayanami-20);
}