.dropDown {
    display: none;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    z-index: 1;
}
.dropDownShow {
    display: block;
}

/* все типы */
.saveAction {
    top: 6%;
    left: 80%;
    max-width: 150px;
}

.palette {
    top: 13%;
    left: 32%;
    max-width: 222px;
    max-height: 500px;
}
.paletteContent {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border-radius: 10px;
}
.paletteColor {
    margin: 5px;
    border: 2px solid var(--kaoru-20);
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.paletteColor:hover {
    cursor: pointer;
}

/* контент внутри */
.dropDownContent {
    background-color: var(--shinji);
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--kaoru-60);
    border-radius: 10px;
    margin: 1px -7px;
}
.separator {
    width: 100%;
    height: 1px;
    background-color: var(--kaoru-60);
}
.dropDownContent a, p {
    padding: 5px;
    display: flex;
    color: var(--gendo-default);
    height: 25px;
    float: left;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}
.dropDown a:hover {
    background-color: var(--ayanami-20);
}